## macOS
.DS_Store

## Xcode / Swift
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

## Xcode user settings
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

## Swift Package Manager
.build/
.swiftpm/

## CocoaPods / Carthage (if ever used)
Pods/
Carthage/Build/

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

## IDEs
.vscode/
.idea/

## Logs
*.log
